<form action='@Url.Action("agregarCandidatos")'>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">
    <label for="fecha">fecha</label>
    <input type="date" name="fecha">
    <label for="foto">foto</label>
    <input type="text" name="foto">
    <label for="postulacion">Postulacion</label>
    <input type="text" name="postulacion">
    <input type="text" name="IdPartido" value=@ViewBag.partido hidden>
    <input type="submit" value="Enviar">
</form>