<form action='@Url.Action("agregarCandidatos")'>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">
    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">
    <label for="fecha">fecha</label>
    <input type="date" name="fecha">
    <label for="foto">foto</label>
    <input type="foto" name="foto">
    <label for="postulacion">Postulacion</label>
    <input type="text" name="postulacion">
    <label for="partido">Partido</label>
    <select name="IdPartido" id="partido">
        <option value="2">Juntos</option>
        <option value="3">Union</option>    
    </select>
    <input type="submit" value="Enviar">
</form>