@import url('https://fonts.googleapis.com/css2?family=REM:wght@300;400;500;700&display=swap');

html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background-color: whitesmoke;
  font-family: 'REM', sans-serif;
}


.candidatos{
  text-align: center;
  width: 75%;
  margin: auto;
}

.carta{
  position: relative;
  display: inline-block;
  flex-direction: column;
  border: 2px solid #1D3557;
  border-radius: 10px;
  text-align: center;
  background-color: #F1FAEE;
  width: 40rem;
  height: 30rem;
  margin:5rem 5rem 5rem 0 ;
}

.carta__titulo{
  padding: 2rem;
  background-color: #A8DADC;
}

.carta img{
  margin: 2rem;
}

.partidos{
  display: flex;
  justify-content: space-around;
}

.partido{
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  background-color: #E0E0E2;
  border-radius: 10px;
}

.partido__titulo{
  padding: 2rem;
  background-color: #272932;
  color: #E0E0E2;
  text-transform: uppercase;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}


.partido__img{
  width: 60%;
  margin: 2rem;
  aspect-ratio: 1 / 1;
  align-self: center;
}

.partido__cantidades{
  font-size: 1.4rem;
}

.partido__botones{
  color: #F1FAEE;
  display: flex;
  align-items: stretch;
  justify-content: center;
  border-radius: 10px;
  padding: 3rem;
  text-align: center;
}

.partido__boton{
  width: 40%;
  padding:1rem 2rem;
  background-color: #272932;
  
}

.partido__boton:not(:last-child){
  border-right: 3px solid #E0E0E2;
}

.candidato__borrar{
  position: absolute;
  top: 2rem;
  right: 2rem;
}
